<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--第一位帧头（第一位数据包字节），十六进制-->
  <add key="FirstFrameHeader" value="AB"/>
  <!--第二位帧头（第二位数据包字节），十六进制-->
  <add key="SecondFrameHeader" value="CD"/>
  <!--第一位帧尾（倒数第二位数据包字节），十六进制-->
  <add key="FirstFrameEnd" value="FF"/>
  <!--第二位帧尾（倒数第一位数据包字节），十六进制-->
  <add key="SecondFrameEnd" value="FF"/>
</appSettings>